<form action="create_prod">
  Please enter in the following information for the new product:
  <ul>
    <li><input type = "text" name = "serial_number">serial number</li>
    <li><input type = "text" name = "name">name</li>
    <li><input type = "text" name = "description">decription</li>
    <li><input type = "text" name = "cost">cost</li>
    <li><input type = "text" name = "quantity">quantity</li>
    <li><input type = "text" name = "location_id">location id</li>
    <li><input type = "text" name = "category_id">category id</li>
  </ul>
  
  <input type="submit" value="Submit">  
  <!-- send to add_product to validate -->
    
</form>