<form action="create_loc">
  
  <p>Here are your locations in the database:</p>
  
  <% @locs.each do |loc| %>
   <p>
      <%= loc.id %>
      <%= loc.name %>
    </p>
    <% end %>
  Please enter in the following information for the new location:
  <ul>
   
    <li><input type = "text" name = "name">name</li>

  </ul>
  
  <input type="submit" value="Submit">  
  <!-- send to add_product to validate -->
    
</form>