<!DOCTYPE html>
<html lang="en-US">
<head>
 <title>Warehouse Manager</title>
 <link rel="stylesheet" type="text/css" href="/css/my_style.css">

</head>

<body>
  <%= yield%>
  <br>
  <a href="/">Go Back To The Main Page</a>
</body>
</html>