<form action="confirm_prod_delete">
  <% @prods.each do |p| %>
   <p>
      <%= p.id %>
      <%= p.name %>
      
    </p>
  <% end %>
  
  Please enter the id of the product you wish to delete:
  <ul>
    <li><input type = "text" name = "table" value = "products"</li>
    <li><input type = "number" name = "id"></li>
  </ul>
  
  <input type="submit" value="Submit">  
  <!-- send to add_product to validate -->
    
</form>