<form action="confirm_delete_location">
  <% @locs.each do |l| %>
   <p>
      <%= l.id %>
      <%= l.name %>
      
    </p>
  <% end %>
  
  Please enter the id of the location you wish to delete:
  <ul>
    <li><input type = "text" name = "table" value = "locations"</li>
    <li><input type = "number" name = "id"></li>
  </ul>
  
  <input type="submit" value="Submit">  
    
</form>