<form action="confirm_cat_delete">
  <% @cats.each do |c| %>
   <p>
      <%= c.id %>
      <%= c.name %>
      
    </p>
  <% end %>
  
  Please enter the id of the category you wish to delete:
  <ul>
    <li><input type = "text" name = "table" value = "categories"</li>
    <li><input type = "number" name = "id">id</li>
  </ul>
  
  <input type="submit" value="Submit">  
  <!-- send to add_product to validate -->
    
</form>