<h1>Welcome to the Warehouse Manager<h1>
  <p>Please select from the following menu:<p>      
    <form>
      <ul>
        <li><a href ="/add_prod">To add a new product</a></li>
        <li><a href = "/edit_prod">To edit an existing product</a></li>
        <li><a href ="/delete_prod">To delete a product from the warehouse</a></li>
        <li><a href = "/add_cat">To add a new category</a></li> 
        <li><a href = "edit_category.erb">To edit an existing category</a></li>
        <li><a href = "delete_category.erb">To delete a category from the warehouse</a></li>
        <li><a href = "/add_loc">To add a new location</a></li> 
        <li><a href = "edit_location.erb">To edit an existing plocation</a></li>
        <li><a href = "location_product.erb">To delete a location from the warehouse</a></li>
      </ul>
    </form>
  